html
  head
    title= title
  body
    h1= message
    <br/>
    a(href='/weekly') See Weekly Sessions Graph
    <br/>
    a(href='/logout') Logout
    <br/>
<br/>

<div style="display: flex; flex-direction: row;gap: 20 px;justify-content: space-between;flex-wrap: wrap; align-items: center;align-content: space-between">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/KiyHrpnWmVY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br/>
<iframe width="560" height="315" src="https://www.youtube.com/embed/wkDiOCIX_xA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br/>
<iframe width="560" height="315" src="https://www.youtube.com/embed/4wB43bbSdm8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br/>
<iframe width="560" height="315" src="https://www.youtube.com/embed/WRyPQO_u_qE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br/>
<iframe width="560" height="315" src="https://www.youtube.com/embed/MsXlZ_phGNY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
