html
  head
    title= title
  body
    h1= message
    <br/>
    a(href='/auth/facebook') Facebook Login
    <br/>
    a(href='/auth/github') Github Login
    <br/>
    a(href='/auth/twitter') Twitter Login