html
  head
    title= title
  body
    h1= message
    <br/>
    a(href='/auth/facebook') Facebook Login
    <br/>
    a(href='/auth/github') Github Login
    <br/>
    a(href='/auth/twitter') Twitter Login

    <br/>
    <br/>
    a(href='/facebook2') Researcher Login
    <br/>
    a(href='/github2/patient1') Patient1 Login
    <br/>
    a(href='/github2/patient2') Patient2 Login
    <br/>
    a(href='/twitter2') Physician Login